
<app-header></app-header>


<div class="profile-container">
    <h1>Creación de tareas</h1>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <label for="description">Descripcion:</label>
        <input type="text" id="description" formControlName="description">
        <label for="difficulty">Dificultad:</label>
        <input type="text" id="difficulty" formControlName="difficulty">
        <label for="assignment">Asignación:</label>
        <input type="text" id="assignment" formControlName="assignment">
        <label for="time_estimated">Tiempo estimado:</label>
        <input type="number" id="time_estimated" formControlName="time_estimated">
        <label for="time_dedicated">Tiempo dedicado:</label>
        <input type="number" id="time_dedicated" formControlName="time_dedicated">
        <label for="progress">Progreso:</label>
        <input type="number" id="progress" formControlName="progress">
        <label for="done">Hecho:</label>
        <input type="checkbox" id="done" formControlName="done">
        <input type="submit" value="Save Changes">
    </form>
</div>


<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div >

<app-footer>
</app-footer>