<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">   

<nav class="navbar">
    <div class="logo">Encuentra</div>
    <ul class="menu">
        <li><a routerLink="../home"  routerLinkActive="active">Crear tarea</a></li>
        <li><a routerLink="../modification" routerLinkActive="active">Ver tareas</a></li>
    </ul>
</nav>