<app-header></app-header>
<ul>
    @for (task of tasks; track task.id) {
        <li>{{ task.assignment }}</li>
        <div class="itinerary">
        <div class="point" data-point-id="1">
            <h2 class="point-title"><span class="highlight">{{ task.id}}º</span>Tarea</h2>
            <p class="point-description">Descripccion:{{ task.description }}</p>
            <p class="point-description">Dificultad: {{ task.difficulty }}</p>
            <p class="point-description">Progreso: {{ task.progress }}</p>
            <p class="point-description">Tiempo estimado: {{ task.time_estimated }}</p>
            <p class="point-description">Tiempo dedicado: {{ task.time_dedicated }}</p>
            <p class="point-description">Echo: {{ task.done }}</p>
            <p class="point-description">Creación: {{ task.createdAt  }}</p>

              <div class="comment-form">
              <form id="commentForm" style="display: flex;">
                <button (click)="$event.preventDefault(); openDialog(task)" type="submit">Modificar</button>
              </form>

          </div>
        </div>
        </div>
    }
    @empty {
        <li>No tasks</li>
    }
</ul>

<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div >
  <app-footer></app-footer>